@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d001f;
}

h1 {
  font-size: 6.5rem;
  color: #fff;
}

h2 {
  font-size: 64px;
}